.image img {
    width: 200px;
    height: 200px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.tarjeta {
    margin-top: 15px;
    
    
}

.cuerpocard {
    height: 270px;
}

.tarjeta {
    margin-bottom: 20px;
}